.loading {
    color: var(--primary-700);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anime {
    display: inline-block;
}

.anime div {
    border-radius: 50%;
    background: var(--secondary-700);
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 0.4rem;
}

.anime div:nth-of-type(1) {
    margin-left: 0;
    animation: upDown 1.85s ease-in-out infinite;
}

.anime div:nth-of-type(2) {
    animation: upDown 1.85s ease-in-out infinite;
    animation-delay: .3s;
}

.anime div:nth-of-type(3) {
    animation: upDown 1.85s ease-in-out infinite;
    animation-delay: .6s;
}

@keyframes upDown {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.text {
    font-weight: 700;
    color: var(--dark-900);
    margin: 0;
    margin-top: 1rem;
}